.re-result__body.type1,
.re-result__body.type2 {
  .re-result__menuName{
    margin: 8px auto;
  }
}

.re-result__body.type2{

  .re-result__img{
    img {
      max-width: 200px;
    }
  }
}

.re-result__body.type3 {

  .indention.name {
    span {
      display: block;
    }
  }
}


.re-result__body.type4 {

  ul.marry {
    margin: 0 auto 16px;

    li{
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid #ef6771;
      padding: 12px;
      width: 60%;
      margin: auto;
    }
  }

  .re-result__afterSection{
    margin-bottom: 24px;

    .re-result__img img {
      width: 100%;
      max-width: 320px;
    }
  }
}

.re-result__body.type5 {

  .re-result__text .year {
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
  }
}

.re-result__body.type6 {

  .re-result__img img {
    margin: auto;
    max-width: 160px;
  }
}


.re-result__body.type7 {
  .re-result__img img{
    width: 40px;
  }
  .timing .re-result__text {
    display: block;
  }

  .re-result__text {
    display: none;
  }

  .timing ul {
    margin-top: 24px;

    li {
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid #ef6771;
      padding: 12px;
      width: 60%;
      margin: auto;

      &:first-child{
        border-top: 1px solid #ef6771;
      }
    }
  }
}


.re-result__body.type8{
  .re-result__text{
    display: none;
  }

  .fortune{
    .re-result__text{
      display: block;
    }
  }

  .re-fortune__nextMenu{

    .re-result__text{
      display: block;
    }

    .indention{
      font-size: 17px;
      margin-top: 18px;
    }
  }
}

.re-result__body.type9{

  .fortune2.re-result__img {
    margin-bottom: 24px;

    img {
      width: 100%;
      max-width: 280px;
      margin: auto;
    }
  }

  .re-result__text{
    display: none;
  }

  .fortune{
    .re-result__text{
      display: block;
    }
  }

  .re-fortune__nextMenu{

    .re-result__text{
      display: block;
    }

    .indention{
      font-size: 17px;
      margin-top: 18px;
    }
  }
}

.re-result__body.type10 {

  .re-result__main .fortune {
    display: none;
  }

  .fotune5-flexBox {
    display: flex;
    margin-top: 16px;

    span{
      flex:1;
      text-align: justify;
      padding-top: 10%;
      padding-left: 12px;
    }

    .fotune5-flexBox__img{
      max-width: 33%;

      img{
        width: 100%;
      }
    }
  }

  .notes {
    margin-bottom: 12px;
  }
}


.re-result__body.type11 {

  .re-result__img img {
    margin: auto;
    max-width: 160px;
  }

  .re-result__text {
    display: none;
  }

  .re-result__main .collect {
    background-color: #fff;
    padding: 12px 18px 20px;
    text-align: justify;
    border-radius: 6px;
    margin: 14px auto 24px;

    .re-result__text {
      padding: 0;
      display: block;
    }

    .re-collect__tarot {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 16px;

      img {
        width: 20%;
        height: 20%;
        max-width: 80px;
      }

      span {
        padding-top: 5%;
        padding-left: 12px;
        font-weight: 700;
        flex-grow: 1;
      }
    }
  }
}

.re-result__body.type12 {
  .re-result__main,
  .re-result__titleSection,
  .re-result__afterSection{
    display:none;
  }
}

.re-result__body.type13 {

  .re-result__text {
    display: none;
  }

  .luck ul {
    margin-top: 24px;

    li {
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid #ef6771;
      padding: 12px;
      width: 60%;
      margin: auto;

      &:first-child {
        border-top: 1px solid #ef6771;
      }
    }
  }
}

.re-result__body.type14{

  .re-result__img{
    img {
      max-width: 200px;
    }
  }

  .m-kobetsu-top &{
    margin: 12px -16px 30px;

    .ko-line__img{
      width: 85%;
      margin: auto;
    }

    .kobetsu-top__result {
      width: 85%;
      margin: auto;
      background-color: rgba(255, 255, 255, 0.4);
    }

    .re-result__text{
      background-color: transparent;
    }
  }
}

.re-result__body.type15{

  .re-result__img{
    img {
      max-width: 110px;
    }
  }
}




// .re-result__titleSection :not(.aisho):not(br),
// .re-result__afterSection :not(.aisho):not(br){
//   display:none;
// }
