.se-pageTemplate {
  padding: 12px 0;
  &__titleImg {
    width: 100%;
    margin-top: 24px;
    img {width: 100%;}
  }
  &__mainImg {
    width: 200px;
    margin: auto;
    &.w80px {
      width: 80px;
    }
    img { width: 100%; }
  }
  &__title {
    font-size: 14px;
    text-align: center;
    color: #7f6136;
    font-weight: 100;
    margin: 24px auto;
    span {
      color: #ff4d62;
      font-weight: 700;
      font-size: 18px;
    }
  }
  h2 {
    font-size: 14px;
  }
  label {
    display: block;
    padding: 6px 0;
    width: 100%;
    margin-bottom: 4px;
  }
  input[type="radio"] {
    appearance: radio;
  }
}

