.btn-base {
  text-align: center;
  width: 200px;
  margin: 0 auto 10px;

  a{
    font-size: 15px;
    font-weight: 700;
    color: #fff;

    &.red{
      background-color: #ef6771;
    }
    &.orange{
      background-color: #fecdb2;
    }
  }
  input  {
    background-color: #ef6771;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    border-radius: 6px;
    box-shadow: 1px 2px 1px 0 #7b7a7a;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
ß
  &.small{
    width: auto;

    a {
      padding: 4px 8px;
      border-radius: 3px;
      font-size: 14px;
      @media screen and (max-width: 374px) {
        font-size: 12px;
      }
      margin-right: 4px;
      display: inline-block;
    }
  }//.small

  &.large {
    width: 280px;
  }//.large

  &.two-stage {
    margin: 0 auto 20px;

    a {
      background-color: #ef6771;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 60px;
      border-radius: 6px;
      box-shadow: 1px 2px 1px 0 #7b7a7a;
    }
  }//.two-stage


  &.primary{

    a {
      background-color: #ef6771;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 35px;
      border-radius: 6px;
      box-shadow: 1px 2px 1px 0 #7b7a7a;
    }
  } //.primary

  &.brown {
    width: max-content;
    margin-bottom: 36px;

    a {
      box-shadow: 0.5px 0.9px 2px 0 rgba(0, 0, 0, 0.35);
      padding: 10px 14px;
      border-radius: 5px;
      color: #7f6136;
      background-color: #f5e1cd;
    }
  }//.brown

}//.btn-base
