ul{
  padding: 0;
}

li{
  list-style: none;
}


.mt-menu{

  &__head {
    background-color: #fdb4b4;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;

    .mt-update__kobetsu &{
      background-color: #ef6771;
    }
  }//_head

  &__list {
    margin: 0;
    margin-bottom: 12px;
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    li {
      background-color: #fff;
      border-bottom: 1px solid #898989;
      &:last-child{
        border-bottom: 0;
      }

      a{
        display: block;
        padding: 10px 20px;
      }//a
    }//li
  }//_list

}//.mt-update
