* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}
img{
  display: block;
}

body{
  background-color: #fff0ed;
  margin: auto;
  color: #7f6136;
  line-height: 1.6em;
}

main{
  max-width: 768px;
  margin: auto;
  padding: 0 16px;
}

.cocoloni-banner {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-color: #89CD00;
  background-image: url(/image/common/cocoloni-brand.sp.480.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 64px 10px;
  background-size: 64px 10px;
  height: 24px;
}

.mt-title__banner{
  margin: 0px auto 12px;

  img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
  }
}


.text-pink {
  color: #ef6771;
}

.tip {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid;
  border-radius: 3px;
  padding: 4px 6px;
  margin-bottom: 7px;

  &.day {
    border-color: #fdb4b4;
    color: #fdb4b4;
  }

  &.red {
    background-color: #fdb4b4;
    border-color: #fdb4b4;
    color: #fff;
  }

  &.orange {
    background-color: #fecdb2;
    border-color: #fecdb2;
    color: #fff;
  }
}//.tip

.menu-name {
  display: block;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.indention {
  color: #7f6136;
  text-align: center;
  margin: 0px auto 18px;
  font-size: 15px;

  &.title{
    margin-bottom: 10px;
  }
}

.notes {
  color: #7f6136;
  font-size: 13px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

@import "_link";
@import "_first";
@import "list/main";
@import "button/main";
