body{
  background-color: #fff0ed;
  margin: auto;
  color: #7f6136;
}

main{
  max-width: 768px;
  margin: auto;
  padding: 0 16px;
}

.mt-title__banner img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
}


.text-pink {
  color: #ef6771;
}

.tip {
  display: inline-block;
  font-size: 10px;
  border: 1px solid;
  border-radius: 3px;
  padding: 2px 6px;
  margin-bottom: 4px;

  &.day {
    border-color: #fdb4b4;
    color: #fdb4b4;
  }

  &.red {
    background-color: #fdb4b4;
    border-color: #fdb4b4;
    color: #fff;
  }

  &.orange {
    background-color: #fecdb2;
    border-color: #fecdb2;
    color: #fff;
  }
}//.tip

.menu-name {
  display: block;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.indention {
  color: #7f6136;
  text-align: center;
  margin: 0px auto 20px;
  font-size: 15px;

  &.title{
    margin-bottom: 10px;
  }
}

.notes {
  color: #7f6136;
  font-size: 13px;
}

@import "_link";
@import "list/main";
@import "button/main";
