<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="Shift_JIS">
<meta http-equiv="Content-Style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
<title>結婚鑑定【自由が丘の母】</title>
<meta name="description" content="自由が丘の母こと安芸実が、あなたの結婚を四柱推命で占います。">
<meta name="keywords" content="結婚,自由が丘の母,安芸実,四柱推命">
<!--<title><CTAG mode="site" type="name"></title>-->
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="canonical" href="<CTAG mode="site" type="url" pre="1">/" />
<script src="/js/jquery-1.11.2.min.js"></script>
<!--INC_F'ga_sub.txt'-->
<!--INC_F'ga.txt'-->
<!--INC_F'ga_sub.txt'-->
<!--INC_F'mark_sp_header.txt'-->
</head>
<body>
<img class="w100" src="/i.cgi?n=cocoloni" alt="cocoloni">

<div id="box">
<!--<div id="marquee"><span class="fs90">自由が丘の母こと安芸実が、あなたの結婚を四柱推命で占います。</span></div>-->
  <!--INC_F'emg1.txt'-->
<!--INC_F'emg2.txt'-->
<div class="c"><h1><img class="w100" src="/i.cgi?n=f/top/sp/01" alt="良縁自由が丘の母"></h1></div>
<CTAG mode="user" type="notice" text="apology_sp201404.txt" situ="2" sdate="20140401" edate="20140501">
<!--★新会員登録ボタン★-->
[% IF zspid.substr(0, 1) == 'w' %]
<div class="new_reg"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><!--<span>初めてご利用の方は<br></span>新規会員登録-->今すぐ占う</a></div>
<div class="c">≫<a href="
<CTAG mode="newauth" type="loginout">">ログインはコチラ</a>≪</div>
[% ELSE %]
<div class="new_reg"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><!--<span>初めてご利用の方は<br></span>新規会員登録-->今すぐ占う</a></div>
[% END %]
<!--★新会員登録ボタンEND★-->
<div class="both"></div>
<br>
<img class="float_r w30" src="/i.cgi?n=akimi/2" alt="安芸実">
<span class="fs90">
「誰でもいいから結婚したい」なんて思っちゃダメよ。<br>
幸せな結婚をするには自分を安売りしないこと。<br>
<span class="st_4 fs100">あなたには価値がある</span>そのことに、あなたも相手もまだ気付いていないだけ。<br><br>
<span class="st_4 fs100">絶対に幸せな結婚をする</span>まずはその覚悟を決めなさい。そうすれば私があなたに見合う人との縁を引き合わせてあげるから。</span><br><br>
<div class="r fs90"><a href="/t.cgi?t=c/help/supervisor&<!--DEF_P-->">自由が丘の母・安芸実</a></div>
<!--★新会員登録ボタン★-->
[% IF zspid.substr(0, 1) == 'w' %]
<div class="new_reg"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><!--<span>初めてご利用の方は<br></span>新規会員登録-->今すぐ占う</a></div>
<div class="c">≫<a href="
<CTAG mode="newauth" type="loginout">">ログインはコチラ</a>≪</div>
[% ELSE %]
<div class="new_reg"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><!--<span>初めてご利用の方は<br></span>新規会員登録-->今すぐ占う</a></div>
[% END %]
<!--★新会員登録ボタンEND★-->
<br>

<!--一斉告知用共通INC-->
<br>

<br>
<!--一斉告知用共通INC-->
<!--★1年以内に訪れる幸運★-->
<div class="c"><img class="w100" src="/i.cgi?n=fcb/01" alt="一年以内に訪れる幸運"></div>
<div class="waku_tya">
<div class="c">
<!--★FTOPバナー★-->
<br>
今の恋愛状況から<br>この先1年間に訪れる<br>結婚への転機を教えます<br>
<br>
<span style="fs90 st_2">【1年間の運気】</span><br>
<img class="w80" src="/i.cgi?n=graph/thumb_b" alt="ｸﾞﾗﾌ"><br>
<br>
【第一の転機】<br>
<span style="st_2"><CTAG mode="date" format="YYYY年M月" cond="30"><br>思いがけない出会い</span>
</div>
<img src="/i.cgi?n=icon/1_b" alt="出会い"><span class="st_10"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_10">出会いのある日</span></a>は…</span><br>
<div class="c">
<span class="fs90">
<CTAG mode="date" format="YYYY年M月" cond="30">X日<br>
<CTAG mode="date" format="YYYY年M月" cond="30">XX日<br>
<CTAG mode="date" format="YYYY年M月" cond="60">X日<br>
</span>
</div>
<br>
<img src="/i.cgi?n=icon/1_b" alt="出会い"><span class="st_10">この時期の出会いの傾向は…</span><br>
<span class="fs90">この時期のあなたは、人間関係のもつれがきっかけで<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">…続き</a></span><br>
<br>
<div class="c">
【第二の転機】<br>
<span style="st_2"><CTAG mode="date" format="YYYY年M月" cond="60"><br>ふたりの恋の始まり</span>
</div>
<img src="/i.cgi?n=icon/1_b" alt="恋に落ちる"><span class="st_10"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_10">相手からのアプローチがある日</span></a>は…</span><br>
<div class="c">
<span class="fs90">
<CTAG mode="date" format="YYYY年M月" cond="60">XX日<br>
<CTAG mode="date" format="YYYY年M月" cond="60">XX日<br>
<CTAG mode="date" format="YYYY年M月" cond="90">X日<br>
</span>
</div>
<br>
<img src="/i.cgi?n=icon/1_b" alt="恋に落ちる"><span class="st_10">結婚相手の人物像は…</span><br>
<span class="fs90">家庭的な人が、この時期のあなたの運命の<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">…続き</a></span><br>
<br>
<div class="c">
【第三の転機】<br>
<span style="st_2"><CTAG mode="date" format="YYYY年M月" cond="90"><br>距離が縮まるとき</span>
</div>
<img src="/i.cgi?n=icon/1_b" alt="恋に落ちる"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_10">あなたの想いが通じる日</span></a><br>
<img src="/i.cgi?n=icon/1_b" alt="恋に落ちる"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_10">この時期の恋の深まり</span></a><br>
<br>
<div class="c">【第四の転機】<br>
<span style="st_2"><CTAG mode="date" format="YYYY年M月" cond="120"><br>絆が深まるとき</span>
</div>
<img src="/i.cgi?n=icon/1_b" alt="恋に落ちる"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_10">お互いが結婚を決意する日</span></a><br>
<img src="/i.cgi?n=icon/1_b" alt="恋に落ちる"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_10">この時期の恋の深まり</span></a><br>
<br>
<div class="c">【第五の転機】<br>
<span style="st_2"><CTAG mode="date" format="YYYY年M月" cond="150"><br>永遠を誓う</span>
</div>
<img src="/i.cgi?n=icon/1_b" alt="恋に落ちる"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_10">あなたの結婚の吉日</span></a><br>
<img src="/i.cgi?n=icon/1_b" alt="恋に落ちる"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_10">この時期あなたに幸運を呼び込む結婚</span></a><br>
<br>
<div class="c"><span style="st_2">すべての転機を活かせば<br>必ず結婚できます<br></span></div>
<br>
<div class="c"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">今すぐ占う</a></div>
</div>
<!--★1年以内に訪れる幸運★-->
<!--★結婚鑑定書★-->
<div class="c">
<img class="w100" src="/i.cgi?n=cb/18"><br>
<br>
<span class="fs90">あなたの結婚について<br>さらに詳しくお教えしましょう</span>
</div>
<img src="/i.cgi?n=icon/1">第一章<br><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">定められた結婚運</a><br>
<img src="/i.cgi?n=icon/1">第二章<br><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">あなたの人生について</a><br>
<img src="/i.cgi?n=icon/1">第三章<br><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">運命の結婚相手</a><br>
<img src="/i.cgi?n=icon/1">第四章<br><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">運命の相手と結婚するまで</a><br>
<img src="/i.cgi?n=icon/1">最終章<br><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">今のあなたへのアドバイス</a><br>
<br>
※続けることで読める章が増えていきます<br><br>
<div class="c"><span style="st_6">心配しなくとも<br>良いご縁がありますよ</span></div>
<div class="c">
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">今すぐ占う</a><br>
</div>
<br>
<!--★結婚鑑定書★-->
<!--★【MID】スマートフォン★-->
<div class="r">
[% IF zspid.substr(0, 1) == 'w' %]

[% ELSE %]

[% END %]
</div>
<!--★【MID】スマートフォン★-->
<!--★生まれ持つ宿命★-->
<div class="c"><img class="w100" src="/i.cgi?n=line/1" alt="生まれ持つ宿命"></div>
<div class="c">
<img class="float_l" src="/i.cgi?n=icon/9" alt="花">
<img class="float_r" src="/i.cgi?n=icon/10" alt="春">
<span class="st_4">生まれ持つ宿命</span><br>
<br>
<span class="fs90">まずはあなたが先天的に持っている良いところを見ていきましょうね</span><br>
</div>
<div class="both"></div>
<br>
<img src="/i.cgi?n=icon/1" alt="基本性格"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">あなたの宿命</a><br>
<span class="fs90">基本性格│生まれ持つ運の強さ<br>
出会い│恋愛│結婚<br>
仕事の傾向│人生における財運</span><br>
<br>
<div class="r">
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">あの人の宿命</a><img src="/i.cgi?n=icon/2" alt="あの人"><br>
<span class="fs90">基本性格│生まれ持つ運の強さ<br>
出会い│恋愛│結婚<br>
仕事の傾向│人生における財運</span><br>
<br>
</div>
<div class="c"><span style="st_6">あなたの宿命から<br>良縁を探っていきましょう</span></div>
<br>
<!--★生まれ持つ宿命★-->
<!--★細密相性★-->
<div class="c">
<img class="w100" src="/i.cgi?n=line/6" alt="相性"><br>
<br>
<span class="st_4">ふたりの細密相性</span><br>
<br>
<span class="fs90">さらにふたりの縁を<br>詳細に見ていきます</span>
</div>
<br>
<div class="c">
<img src="/i.cgi?n=icon/4" alt="相性"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">基本的な相性</a><img src="/i.cgi?n=icon/4" alt="宿縁"><br>
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">恋愛関係における相性</a><br>
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">結婚相手としての相性</a><br>
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">友人としての相性</a><br>
<br>
</div>
<div class="c"><span style="st_6">相性はふたりだけのもの<br>その縁を知れば<br>想いは深まるはずです</span></div>
<div class="c"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">今すぐ占う</a></div>
<br>
<!--★細密相性★-->
<!--★タロット★-->
<div class="c"><img class="w100" src="/i.cgi?n=fcb/02" alt="真実を解き明かす"></div>
<div class="waku_tya">
<br>
<span class="fs90">
好機に相手が望む振る舞いをすること。それが<span class="st_10">ふたりの関係を進展させる鍵</span>です。<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_12">相手の本心をつかんでおくこと</span></a>が必要ですね。<br>
</span>
<div class="c">
<img src="/i.cgi?n=tarot/thumb_b" alt="ﾀﾛｯﾄ"><br>
神秘の東洋タロットで<br>あの人の本心を映し出します<br>
</div>
<br>
<img src="/i.cgi?n=icon/11_b"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_12">今、あの人は私のことを考えていますか？</span></a><br>
<img src="/i.cgi?n=icon/11_b"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_12">今、あの人が求めているのはどんなことですか？</span></a><br>
<img src="/i.cgi?n=icon/11_b"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><span class="st_12">今、あの人は隠し事をしていますか？</span></a><br>
<br>
<span class="fs90">
<span class="st_10">幸せな結婚</span>とは、ふたりとも幸福だと思えるものです。<span class="st_10">相手の望みを知らずしてはありえません</span>。<br>
</span>
<br>
<div class="c">
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">今すぐ占う</a><br>
<br>
</div>
</div>
<div class="c"><img class="w100" src="/i.cgi?n=line/5" alt="宿命"></div>
<!--★タロット★-->
<div class="c"><img class="w100" src="/i.cgi?n=fcb/04" alt="幸運を引き寄せる"></div>
<br>
<div class="c">
<span class="st_4">時間鑑定</span><br>
<span class="fs90">チャンスを最大限に<br>引き寄せる時間は<br>XX時XX分</span><br>
</div>
<br>
<img src="/i.cgi?n=icon/6" alt="ﾁｬﾝｽ"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">メールを送ったら返信がきやすい時間</a><br>
<img src="/i.cgi?n=icon/6" alt="電話"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">電話をかけるのに良い時間</a><br>
<img src="/i.cgi?n=icon/6" alt="魅力"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">魅力が高まる時間</a><br>
<img src="/i.cgi?n=icon/6" alt="本音"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">あの人の本音が出やすい時間</a><br>
<img src="/i.cgi?n=icon/6" alt="悩み"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">相談事を持ちかけるのにいい時間</a><br>
<br>
<div class="c">
<span style="st_6">あの人に気持ちを<br>伝えたいのならば<br>相手が心を開く時間を<br>知ることです</span><br>
</div>
<div class="c"><img class="w100" src="/i.cgi?n=line/6" alt="桜"></div>
<br>
<div class="c">
<span class="st_4">幸運予報</span><br>
<span class="fs90"><CTAG mode="date" format="YYYY年M月DD日"><br>
今日のあなたの<br>運気を上げるもの</span><br>
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">場所</a>｜<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">色</a>｜<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">アイテム</a><br>
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">食べ物</a>｜<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">鍵を握る人</a><br>
<br>
<!--
<span style="st_6">自分の運を<br>よくすることも<br>忘れないでくださいね</span><br>
-->
</div>
<br>
<!--★シチュエーション★-->
<div class="c">
<img class="w100" src="/i.cgi?n=fcb/05" alt="悩みを紐解く"><br>
<br>
<span class="fs90">状況に合わせて<br>詳細に占います</span><br>
</div>
<br>
<!--★ｶﾃｺﾞﾘｰ決定後に調整、4ｶﾃくらいで★-->
<img src="/i.cgi?n=icon/7" alt="私が人生で一番モテる時期"><span class="st_4">あなたの恋愛傾向</span><br>
<span class="fs90">
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">私が生涯で経験する恋の数</a><br>
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">あの人以上に愛せる人に出会うとき</a><br>
</span><br>
<img src="/i.cgi?n=icon/7" alt="幸せな人生"><span class="st_4">生涯の伴侶</span><br>
<span class="fs90">
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">私を一生愛してくれるのはどんな人ですか？</a><br>
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">絶対譲ってはいけない結婚相手の条件</a><br>
</span><br>
<img src="/i.cgi?n=icon/7" alt="幸せな人生"><span class="st_4">幸せな人生</span><br>
<span class="fs90">
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">一生の友人になるのはどんな人ですか？</a><br>
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">グループの中でのあなたの役割</a><br>
</span><br>
<img src="/i.cgi?n=icon/7" alt="結婚傾向"><span class="st_4">移り変わる運気</span><br>
<span class="fs90">
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">私が見逃している運命の異性はいますか？</a><br>
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">今日から１年以内に結婚するために必要な心構え</a><br>
</span><br>
<img class="float_l" src="/i.cgi?n=akimi/3" alt="婚活の母">
<span class="fs90">相手のことを好きになればなるほど、不安になるものですよね。でも<span class="st_6 fs100">不安はふたりの関係に影を落とすから、どんな小さな悩みでも、解決しておきましょう</span>。</span><br>
<div class="both"></div>
<br>
<div class="c"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">今すぐ占う</a></div>
<br>
<!--★シチュエーション★-->
<!--★人生指南・個人鑑定★-->
<div class="c">
<img class="w100" src="/i.cgi?n=line/1" alt="指南"><br>
<span class="st_4">自由が丘の母<br>人生指南</span><br>
<img class="w100" src="/i.cgi?n=line/6" alt="母"><br>
</div>
<br>
<div class="c"><a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">母の恋愛指南</a></div>
<span class="fs90">占いでは伝えきれないメッセージをお届けします</span><br>
<br>
<span class="fs90">
あなたが新しいスタートを切れるよう、私が導いていきます。<br>
<span class="st_6 fs100">大丈夫。<br>あなたの未来は希望に満ち溢れたものなのですから。</span>
</span><br>
<br>
<div class="c">
<a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><img src="/i.cgi?n=icon/mymenu/2" alt="鑑定開始"></a><br>
</div>
<br>
<!--INC_F'mark_sp_f_bot.txt'-->
<!--INC_F'mark_sp_bot2.txt'-->
  <!--INC_F'emg3.txt'-->
  <div class="c"><img class="w100" src="/i.cgi?n=line/5" alt="結婚鑑定"></div>
[%FOOTER_HELP_COLOR = ''%]
[%FOOTER_HELP_EDIT = ''%]
<a class="footer-help-cm-link-cv-[%FOOTER_HELP_COLOR || 'default'%]" href="/t.cgi?t=f/help/supervisor&<!--DEF_P-->">監修者紹介</a>
<!--INC_F'footer_common_links.txt'-->

<div class="c">(C)cocoloni,Inc.</div>
</div>
<!--★マーケGoogleリマーケ訪問タグ_FTOP_LP★-->

<!--★マーケGoogleリマーケ訪問タグ_FTOP_LP★-->
</body>
</html>
