<!--INC_F'template_head.txt'-->
[%np = t%]
 <section>
    <div class="content-head">
     <img class="" src="/i.cgi?n=cb/14" alt="">
    </div>
  </section>
<section class="section-body index-section">
[% IF cate_list.0 %]
  <ul class="list-group recomme">
 [% FOREACH c=cate_list%]
    <li class="list-group-item">
      <a href="/t.cgi?t=m/situation/list&genre=[%c.genre_id%]&category=[%c.category_id%]&<!--DEF_P-->">
        <span class="menu-name">[%c.title%]</span>
      </a>
     </li>
[%END%]
     </ul>
[% ELSE %]
<div class="fs80">該当するカテゴリがありません</div>
[% END %]
</section>
<!--INC_F'template_foot.txt'--> 
