ul{
  padding: 0;
}

li{
  list-style: none;
}


.mt-menu{

  &__head {
    position: relative;
    background-color: #fdb4b4;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 12px 14px;
    color: #fff;
    font-size: 16px;

    .mt-update__kobetsu &{
      background-color: #ef6771;
    }

    .li-category__link {
      background-color: #fff;
      width: 84px;
      height: 25px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 12px;

      span {
        font-size: 12px;
        color: #ff9d9d;
      }//span

    }//.li-category__link

    .rankSpace {
      @media screen and (max-width:374px){
        font-size: 11px;
      }
      font-size: 14px;
      text-align: right;
      position: absolute;
      right: 22px;
      line-height: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      bottom: 0;
      margin: auto;
    }//.rankSpace

  }//_head

  &__list {
    margin: 0;
    margin-bottom: 12px;
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    li {
      background-color: #fff;
      border-bottom: 1px solid;
      border-color: #898989;
      &:last-child{
        border-bottom: 0;
      }

      a{
        position: relative;
        display: block;
        padding: 12px 18px;
      }//a
    }//li
  }//_list

}//.mt-menu



.mt-menu__list {

  .flexBox {
    display: flex;
  }

  .thumbSpace {
    margin-right: 19px;
    width: 72px;

    img {
       width: 100%;
    }
  }

  .flexSpace {
    flex: 1;
  }

  .tokushuBg {
    width: 100%;
    max-width: 425px;
    display: block;
    margin: auto;
  }

  .menu-name::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2.5px;
    width: 18px;
    height: 20px;
    margin-right: 12px;
    background-image: url("/image/m_top/icon.sp.480.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}//.mt-menu__list
