.mt-section__10{
  margin-bottom: 48px;

  .appraisal_section {
    background-image: url("/image/m_top/base.sp.480.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 7%;
    padding-bottom: 13%;
    background-position: center;

    ul {
      text-align: center;

      li {
        padding: 12px;
        max-width: 75%;
        margin: auto;
        font-weight: 700;
        @media screen and (max-width: 374px){
          padding: 10px;
          font-size: 14px;
        }//374px

        a{
          display: block;
        }//a

        .chapter {
          color: #ff838c;
        }//.chapter
      }//li
    }//ul

  }//.appraisal_section

}//.mt-section__10
