.mt-section__6{
  margin-bottom: 24px;

  .mt-title__banner{
    background-image: url(/image/m_top/title/kobetsu_title.sp.480.png);
    background-repeat: no-repeat;
    padding-bottom: 57%;
    background-size: 100%;
    margin: 0 -16px;
  }
}
