.mt-section__4{
  margin-top: 14px;
}

.mt-tokushu{
  &__bg {
    margin: auto;

    a {
      position: relative;
      display: block;
      text-align: center;

      img {
        width: 100%;
        max-width: 425px;
        margin: auto;
      }

    }//a

    &.present {
      margin-bottom: 12px;
    }//.present

  }//__bg


  &__name {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    color: #ef6771;
    font-size: 16px;
    line-height: 16px;
    @media screen and (max-width:374px){
      font-size: 14px;
    }
    font-weight: bold;
  }//__name


  &__bg.present{
    .mt-tokushu__name {
      top: 25%;
    }
  }

}//.mt-tokushu
