.mt-section__9{
  margin-bottom: 52px;

  .mt-graph {
    max-width: 340px;
    margin: auto auto 24px;
    text-align: center;

    img {
      width: 80%;
      margin: auto;
    }

    .marry_section {
      margin: 41px auto;
      .indention {
        margin: 24px auto;
      }
    }
  }
}
