<!--INC_F'template_head.txt'-->

<div class="ft-section">
  <section class="ft-section__1">
    <img src="/image/f_top/top.480.jpg" alt="あなた気づいてる？運命の結婚相手にもう出会っているわよ">
    <a href="/t.cgi?t=f/reg/top&<!--DEF_P-->">
      <img src="/image/f_top/button1.sp.480.png" alt="相手の運命を占う">
    </a>
  </section>

  <section class="ft-section__2">
    <img src="/image/f_top/kutikomi.480.jpg" alt="体験者の口コミ">
  </section>

  <section class="ft-section__3">
    <img src="/image/f_top/kanteisho.480.jpg" alt="誕生日までここまでわかるのよ 結婚鑑定書">
    <a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><img src="/image/f_top/button2.sp.480.png" alt="今すぐ鑑定する"></a>
  </section>

  <section class="ft-section__4">
    <img src="/image/f_top/aisho.480.jpg" alt="あの人との縁を細かく見ていきましょう 二人の細密相性">
    <a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><img src="/image/f_top/button2.sp.480.png" alt="今すぐ鑑定する"></a>
  </section>

  <section class="ft-section__5">
    <img src="/image/f_top/graph.480.jpg" alt="幸運の時期を具体的に 結婚グラフ">
    <a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><img src="/image/f_top/button2.sp.480.png" alt="今すぐ鑑定する"></a>
  </section>

  <section class="ft-section__6">
    <img src="/image/f_top/situation.480.jpg" alt="タイミングを見てチャンスを最大限に引き寄せて 運命鑑定">
    <a href="/t.cgi?t=f/reg/top&<!--DEF_P-->"><img src="/image/f_top/button2.sp.480.png" alt="今すぐ鑑定する"></a>
  </section>

  <footer class="ft-section__7">
    <img src="/image/f_top/kanshu.480.jpg" alt="監修者・安芸美について">
  </footer>
</div>

<!--INC_F'mark_sp_f_bot.txt'-->
<!--INC_F'mark_sp_bot2.txt'-->
<!--INC_F'emg3.txt'-->
<!--INC_F'template_foot.txt'-->
