<!--INC_F'template_head.txt'-->
<header class="mt-section__1">
  <h1><img src="/image/m_top/top.480.jpg" alt="良縁自由が丘の母"></h1>
  <nav class="mt-gnav">
    <ul class="mt-gnav__list">
      <li><a href="/t.cgi?t=m/first/02&<!--DEF_P-->">はじめに</a></li>
      <li><a href="#basic">基本性格</a></li>
      <li><a href="#turning">結婚の転機</a></li>
      <li><a href="#marriage">結婚鑑定書</a></li>
    </ul>
  </nav>
</header>

<section class="mt-section__2">
  <!-- 更新履歴 -->
  <div class="mt-update">
    <div class="mt-menu__head">新着情報</div>
    <CTAG mode="menu" type="update" kind="opened" menu-id-lower-bound1="1100" menu-id-upper-bound1="1299" menu-id-lower-bound2="5000" menu-id-upper-bound2="7999" order="descending" count="2" days-until-expire="30" template="CTAG/rn_menu_history_sp.tmpl" show-corner-name="true" caption="true" id="history_maedashi">
    <div class="mt-link_toList">
      <a href="/t.cgi?t=m/update/top&<!--DEF_P-->">新着情報一覧</a>
    </div>
  </div>

  <div class="mt-update__kobetsu">
    <div class="mt-menu__head">特別鑑定新着</div>
    <!--特別鑑定新着追加-->
    <CTAG mode="kobetsu" type="jidoka" kind="new" count="2" all="1" template="CTAG/rn_kobetsu_jidoka_new.sp.xml.tmpl">
    <!--特別鑑定新着追加-->
  </div>

  <!--2018年下半期の運勢-->
  <div class="mt-half__banner">
    <a href="/t.cgi?t=m/kobetsu/top&package_id=1035&<!--DEF_P-->">
      <img src="/image/kobetsu/year/2018/kobetsu_2.sp.480.png" alt="2018年下半期の運勢">
    </a>
  </div>
  <!--更新履歴END-->
</section>

<div id="box">
  <div id="container">
    <div class="c lh0">
      <img class="w100" src="/i.cgi?n=cocoloni" alt="cocoloni">
    </div>
    <!--★【FIRST】スマートフォン★-->
    <div class="c lh0"><img class="w100" src="/i.cgi?n=top/03" alt="良縁･自由が丘の母"></div>
    <!--▼対応端末変更▼-->
    <!--INC_F'emg1.txt'-->
    <!--INC_F'emg2.txt'-->
    <!--▲対応端末変更▲-->
    <!--告知-->
    <CTAG mode="user" type="notice" text="apology_d201403.txt" situ="40" sdate="20140218" edate="20140304">
      <CTAG mode="user" type="notice" text="apology_sp201404.txt" situ="2" sdate="20140401" edate="20140501">
        <!--告知-->

        <!--クレジットメンテナンス告知-->
        <DTAG+ mode="limitedtime" start="20180410000000" end="20180418150000" shift="on">
        <a style="text-decoration: underline; font-size: 14px;" href="/t.cgi?t=c/mente/credit&<!--DEF_P-->">
          【2018年4月18日(水)】メンテナンスのお知らせ
        </a>
      </DTAG>
      <!--クレジットメンテナンス告知-->


      <div class="navi">
        <!--<span class="l"><a href="/t.cgi?t=m/basic/result&menu_id=1300&<!--DEF_P-->"><span class="fs80">はじめに</span></a></span>-->
        <span class="l"><a href="/t.cgi?t=m/first/02&<!--DEF_P-->"><span class="fs80">はじめに</span></a></span><span class="c"><a href="/t.cgi?t=m/basic/result&<!--DEF_P-->"><span class="fs80">基本診断</span></a></span><span class="c"><a href="/t.cgi?t=m/marry/list&<!--DEF_P-->"><span class="fs80">結婚の転機</span></a></span><span class="r"><a href="/t.cgi?t=m/fortune/result1&category=1&<!--DEF_P-->"><span class="fs80">結婚鑑定書</span></a></span></div>
        <div class="both"></div>
        <br>
        <!--MTOP1stViewリンク-->
        <!--INC_F'mark_sp_header_banner.txt'-->
        <!--MTOP1stViewリンク-->
        <!--
        <div class="navi">
        <span class="f"><a href="/t.cgi?t=m/marry/list&<!--DEF_P-->">結婚の転機</a></span></div><br>
      -->
      <!--★更新情報START★-->
      <section class="news">

        <!--新規メニュー追加のお知らせ-->
        <DTAG+ mode="limitedtime" start="20180725" end="20180825">
        <div class="bar_red">お知らせ</div>
        <div class="list_base">
          <ul>
            <li>
              <a href="/t.cgi?t=c/info/20180725&zspid&<!--DEF_P-->">

                <span class="tip">7月25日(水)</span><br>
                夫婦の相性が詳しくわかる！<br>新しいメニュー追加のお知らせ
              </p>
            </a>
          </li>
        </ul>
      </div>
    </DTAG>
    <!--新規メニュー追加のお知らせ-->

    <!-- ### KOSHINJIDOKA START ### -->
    <!-- 更新履歴 -->
    <div class="bar_red">新着情報</div>
    <div class="list_base">
      <ul>
        <CTAG mode="menu" type="update" kind="opened" menu-id-lower-bound1="1100" menu-id-upper-bound1="1299" menu-id-lower-bound2="5000" menu-id-upper-bound2="7999" order="descending" count="2" days-until-expire="30" template="CTAG/menu_history_sp.tmpl" show-corner-name="true" caption="true" id="history_maedashi">
          <!--年運リコメ-->
          <DTAG+ mode="limitedtime" start="20160601" end="20160705">
          <li>
            <a href="/t.cgi?t=m/kobetsu/top&package_id=1031&<!--DEF_P-->">
              <img class="w100" style="box-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);" src="/image/kobetsu/year/2016/kobetsu_2.sp.480.png">
            </a>
          </li>
        </DTAG>
        <!--年運リコメ-->
        <!--
        <li>
        <a href="/t.cgi?t=m/kokuchi/year2015_1&<!--DEF_P-->">
        <span class="tip">12月24日(水)</span><br>
        2015年上半期の運勢のお知らせ
      </a>
    </li>
  -->
  <li>
    <div class="r_btn">
      <a href="/t.cgi?t=m/update/top&<!--DEF_P-->">新着情報一覧</a>
    </div>
    <div class="both"></div>
  </li>
</ul>
</div>
<div class="bar_red">特別鑑定新着</div>
<div class="list_base">
  <ul>
  </li>
  <!--特別鑑定新着追加-->
  <CTAG mode="kobetsu" type="jidoka" kind="new" count="2" all="1" template="CTAG/kobetsu_jidoka_new.sp3.xml.tmpl">
    <!--特別鑑定新着追加-->
  </li>
</ul>
</div>
<!--2017年上半期の運勢-->

<div class="c">
  <a href="/t.cgi?t=m/kobetsu/top&package_id=1035&<!--DEF_P-->">
    <img class="w90" src="/image/kobetsu/year/2018/kobetsu_2.sp.480.png" alt="">
  </a>
</div>

<!--2017年上半期の運勢-->
<!-- ### KOSHINJIDOKA END ### -->
<!--★NEWS★-->
<!--
[% IF zspid.substr(0, 1) == 'w' %]
<div class="c">
<a href="/t.cgi?t=m/kobetsu/top&package_id=1026&<!--DEF_P-->"><img class="w80" src="/i.cgi?n=year2014/kobetsu"></a>
<br><br></div>
[% ELSE %]
[% END %]
-->
<!--★NEWS★-->
<!-- ### KOSHINJIDOKA END ### -->
<div class="c lh0"><img class="w100" src="/i.cgi?n=line/6"></div>
</section>
<!--★特集END★-->
<!--★更新情報END★-->
<!--■個別課金ｺｺｶﾗ■-->
[% IF zspid.substr(0, 1) == 'x' %]
[% ELSE %]
[% IF zspid.substr(0, 1) == 'w' %]
<!--★以下WEBで表示部分ｺｺｶﾗ★-->
<!--★以下WEBで表示部分ｺｺﾏﾃﾞ★-->
[% ELSE %]
<!--★以下ｱﾌﾟﾘで表示部分ｺｺｶﾗ★-->
<!--
<div class="button_right">
<a href="/t.cgi?t=m/kobetsu/list/appli&<!--DEF_P-->">特別鑑定</a>
</div>
<div class="both"></div>
-->
<!--★以下ｱﾌﾟﾘで表示部分ｺｺﾏﾃﾞ★-->
[% END %]
[% END %]
<!--■個別課金ｺｺﾏﾃﾞ■-->
<!--■ニュースここから■-->
<!--単体アプリのお知らせ-->
[% IF zspid.substr(0, 1) == 'g' %]
お知らせ
<div class="list_base">
  <ul class="list_02">
    <li>
      <a href="/t.cgi?t=c/site_app/info&<!--DEF_P-->">cocoloni占いコレクションリニューアルオープン　に関して</a>
    </li></ul></div></div>
    [% END %]
    <!--単体アプリのお知らせ-->
    <!--■ニュースここまで■-->
    <!--■新着　個別課金ｺｺｶﾗ■-->
    [% IF zspid.substr(0, 1) == 'x' %]
    [% ELSE %]
    [% IF zspid.substr(0, 1) == 'w' %]
    <!--★以下WEBで表示部分ｺｺｶﾗ★-->
    <!--★以下WEBで表示部分ｺｺﾏﾃﾞ★-->
    [% ELSE %]
    <!--★以下ｱﾌﾟﾘで表示部分ｺｺｶﾗ★-->
    <!--★以下ｱﾌﾟﾘで表示部分ｺｺﾏﾃﾞ★-->
    [% END %]
    [% END %]
    <!--■新着　個別課金ｺｺﾏﾃﾞ■-->
    <!--★日運★-->
    <section class="daily-mtop">
      <img class="w100" src="/i.cgi?n=line/5">
      [% IF text1 %]
      <!--INC_F'daily_result_sp.txt'-->
      [% END %]
      <div class="c">
        <div class="bar_red">母のひとこと</div>
      </div>
      <div class="photo_l">
        <div class="inner"><img src="/i.cgi?n=akimi/1"></div>
        <div class="inner"><p class="baloon"><!--hitokoto--></p></div>
      </div>
      <div class="navi">
        <span class="f"><a href="/t.cgi?t=m/luck/result&menu_id=3501&<!--DEF_P-->">幸運予報</a></span>
      </div>
      <img src="/i.cgi?n=spacer" width="1" height="10">
      <!--日運メール配信設定-->
      [%IF zspid.substr(0, 1) == 'w' and isausmartpass == '' # webのみ -%]
      <div class="button_right_02"><a href="/t.cgi?t=m/mail/top&<!--DEF_P-->">日々の運勢をメールで受け取る</a></div>
      <div class="both"></div>
      <div class="lh10">
        <img src="/i.cgi?n=spacer" width="1" height="10">
      </div>
      [%END -%]
      <!--日運メール配信設定-->
      <ul class="list_02">
        <li>
          <li>
            <a href="/t.cgi?t=m/month/result&<!--DEF_P-->"><CTAG mode="date" format="M月">の運勢</a>
            </li>
            <li>
              <a href="/t.cgi?t=m/year/result&<!--DEF_P-->"><CTAG mode="date" format="YYYY年">の運勢</a>
              </li>
              <li><DTAG+ mode="limiteddate" start="1208" end="1231" shift="on">
                <a href="/t.cgi?t=m/nextyear/result&<!--DEF_P-->">来年の運勢</a>
                <D_ELSE></DTAG></li>
                  <li>
                  </ul>
                  <!--★日運★-->
                  <img class="w100" src="/i.cgi?n=line/5"></section>
<!--★特集START★-->
<div class="c lh0">
<img class="w100" src="/i.cgi?n=cb/13">
</div>
<div class="list_02">
<ul>
<!-- ### KOSHINJIDOKA START ### -->
<!-- 通常特集(過去) -->
<CTAG mode="tokushu" type="regular" kind="backnumber" count="1" order="descending" days-until-expire="1" caption="true" template="CTAG/tokushu_history_sp.tmpl" id="regular_tokushu_past">
<!-- 通常特集(現在) -->
<CTAG mode="tokushu" type="regular" kind="present" count="1" order="ascending" days-until-expire="1" caption="true" template="CTAG/tokushu_present_sp.tmpl" id="regular_tokushu_present">
<!-- シーズン特集(現在) -->
<CTAG mode="tokushu" type="seasonal" kind="present" count="1" order="descending" days-until-expire="1" caption="true" template="CTAG/tokushu_present_sp.tmpl" id="seasonal_tokushu_present">
<!-- イレギュラー特集(現在) -->
<CTAG mode="tokushu" type="irregular" kind="present" count="1" order="descending" days-until-expire="1" caption="true" template="CTAG/tokushu_present_sp.tmpl" id="irregular_tokushu_present">
</ul>
<!-- ### KOSHINJIDOKA END ### -->
</div>
<!-- ### KOSHINJIDOKA START ### -->
[%IF flag_is_koshin_jidoka_available%]
<div class="button_right_02">
<a href="/t.cgi?t=m/autotokushu/bn&<!--DEF_P-->">過去の特集</a>
</div>
<div class="both"></div>
[%ELSE%]
<!-- 更新自動化前 -->
<div class="btn_readmore">
<a href="/t.cgi?t=m/special/list&<!--DEF_P-->">過去の特集</a>
</div>
<div class="both"></div>
[%END%]
                          <!--★ｼﾁｭｴｰｼｮﾝSTART★-->
                          <div class="c lh0">
                            <img class="w100" src="/i.cgi?n=cb/14">
                          </div>
                          <div class="lead_main">
                            お悩み相談ならお任せください<br>一つずつ解決していきましょうね
                          </div>
                          <div class="btn_base"><a href="/t.cgi?t=m/ranking&<!--DEF_P-->">本日の<br>占いランキング</a></div>
                          <br>
                          [% IF situ_menu.0 ; FOREACH c=situ_menu %]
                          <div class="list_base">
                            <ul class="clearfix">
                              <p class="category">
                                <li class="cate_mini">[%c.title%]
                                  <span class="r_btn">
                                    <a href="/t.cgi?t=m/situation/list&category=[%c.category_id%]&<!--DEF_P-->">一覧を見る</a>
                                  </span></li>
                                </p>
                                [% IF c.menu_list.0 ; FOREACH m=c.menu_list %]
                                <li>
                                  <a href="/t.cgi?t=[%m.page%]&menu_id=[%m.menu_id%]&category=[%m.category%]&<!--DEF_P-->">
                                    <span class="fs80">[%m.menu_name%]</span></a>
                                  </li>
                                  [% END;END %]
                                </ul>
                              </div>
                              [% END;END %]
                              <span style="font-size:small; color:st_6">※こちらの占いは時期で結果が変化します。</span>
                              <br>
                              <!--★コメントアウト
                              <div class="bar_red">あなたと人生を添い遂げる人を占いましょう</div>
                              <div class="list_base">
                              <ul>
                              <li>
                              <a href="/t.cgi?t=m/situation/result&menu_id=7260&category=5&<!--DEF_P-->">
                              あなたと生涯添い遂げる人との出会い
                            </a>
                          </li>
                        </ul>
                      </div>
                    -->
                    <!--★ｼﾁｭｴｰｼｮﾝEND★-->
                    <br>
                    <br>
                    <!--★個別課金★-->
                    <!--■個別課金ｺｺｶﾗ■-->
                    [% IF zspid.substr(0, 1) == 'x' %]
                    [% ELSE %]
                    [% IF zspid.substr(0, 1) == 'w' %]
                    <!--★以下WEBで表示部分ｺｺｶﾗ★-->
                    <div class="c lh0">
                      <img class="w100" src="/i.cgi?n=line/5" alt="一年以内に訪れる幸運">
                    </div>
                    <div class="corner01">
                      <img class="w100 lh0" src="/i.cgi?n=kobetsu/top01">
                      <img class="float_l lh0" align="left" src="/i.cgi?n=icon/akimi">
                      <span class="fs80">いつもよりかなり細密に鑑定しましょう<br>ちょっと厳しいことも言うかもしれないけど、きっとためになりますよ</span><br>
                      <div class="both"></div>
                      <br>
                      <div class="bar_red">特別鑑定新着メニュー</div>
                      <CTAG mode="kobetsu" type="jidoka" kind="new" count="3" all="1" template="CTAG/kobetsu_jidoka_new.sp4.xml.tmpl">
                        <div class="bar_red">おすすめの特別鑑定</div>
                        <CTAG mode="kobetsu" type="random" count="2" pattern="2" except-buy-package="1" template="CTAG/kobetsu_random02.sp.xml.tmpl">
                          <!--年運リコメ-->
                          <DTAG+ mode="limitedtime" start="20160601" end="20160831">
                          <div class="c" style="padding: 8px 8px 16px 8px;">
                            <a href="/t.cgi?t=m/kobetsu/top&package_id=1031&<!--DEF_P-->">
                              <img class="w100" style="box-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);" src="/image/kobetsu/year/2016/kobetsu_2.sp.480.png">
                            </a>
                          </div>
                        </DTAG>
                        <!--年運リコメ-->
                        <div class="bar_red">人気の特別鑑定</div>
                        <CTAG mode="kobetsu" type="ranking" count="3" range-type="1" except-new-package="1" except-buy-package="1" template="CTAG/kobetsu_ranking.xml.tmpl">
                          <div class="btn_base">
                            <a href="/t.cgi?t=m/kobetsu/list&<!--DEF_P-->">特別鑑定一覧</a>
                          </div>
                          <br>
                          <div class="btn_base">
                            <a href="/t.cgi?t=m/kobetsu/rireki&<!--DEF_P-->">購入履歴</a>
                          </div>
                          <br>
                        </div>
                        <img class="w100" src="/i.cgi?n=line/5">
                        <!--★以下WEBで表示部分ｺｺﾏﾃﾞ★-->
                        [% ELSE %]
                        <!--★以下ｱﾌﾟﾘで表示部分ｺｺｶﾗ★-->
                        <!--★以下ｱﾌﾟﾘで表示部分ｺｺﾏﾃﾞ★-->
                        [% END %]
                        [% END %]
                        <!--■個別課金ｺｺﾏﾃﾞ■-->
                        <!--★個別課金★-->
                        <!--INC_F'mark_sp_mid.txt'-->
                        <!--★ｲｰﾁﾝﾀﾛｯﾄSTART★-->
                        <div class="bg_brown"><!--★背景ブラウン★-->
                          <section class="tarot">
                            <div class="c lh0">
                              <img class="w100" src="/i.cgi?n=fcb/06">
                            </div>
                            <div class="lead_main">
                              神秘の東洋タロットで<br>見えない真相を<br>解き明かしましょう
                            </div>
                            <div class="c">
                              <img class="w50 lh0" src="/i.cgi?n=tarot/thumb_b">
                            </div>
                            <div class="list_base">
                              <ul>
                                <li>
                                  <a href="/t.cgi?t=m/tarot/list&category=1&<!--DEF_P-->">あの人の気持ち</a></li>
                                  <li>
                                    <a href="/t.cgi?t=m/tarot/list&category=2&<!--DEF_P-->">あなたの恋路</a></li>
                                    <!--
                                    <li>
                                    <a href="/t.cgi?t=m/tarot/list&category=3&<!--DEF_P-->">
                                    今日のこと</a></li>
                                  -->
                                  <li>
                                    <a href="/t.cgi?t=m/tarot/list&category=4&<!--DEF_P-->">未来のこと</a>
                                  </li>
                                  <li>
                                    <a href="/t.cgi?t=m/tarot/list&category=5&<!--DEF_P-->">母からの言葉</a>
                                  </li>
                                </ul>
                              </div>
                              <br>
                              <br>
                              <div class="bar_red">
                                <img class="icon lh0" src="/i.cgi?n=test/icon12">今日の<CTAG mode="user" type="name">におすすめのメニュー
                                </div>
                                <div class="list_base">
                                  <ul>
                                    [% IF tarot_menu.0 ; FOREACH m=tarot_menu %]
                                    <li>
                                      <a href="/t.cgi?t=[%m.page%]&menu_id=[%m.menu_id%][%IF m.category%]&category=[%m.category%][%END%]&<!--DEF_P-->">[%m.menu_name%]</a>
                                    </li>
                                    [% END;END %]
                                  </ul>
                                </div>
                                <br>
                                <br>
                                <div class="title">
                                  <img class="lh0 icon" src="/i.cgi?n=icon/11_b">継続特典<img class="lh0 icon" src="/i.cgi?n=icon/11_b"<br>
                                </div>
                                <div class="lead_main">カードを集めていくと<br>特別なタロット鑑定が<br>できるようになりますよ</div>
                                <div class="btn_base">
                                  <a href="/t.cgi?t=m/collect/top&<!--DEF_P-->">特別タロット鑑定</a>
                                </div>
                                <br>
                                <br>
                              </section>
                              <!--★ｲｰﾁﾝﾀﾛｯﾄEND★-->
                              <!--★時間鑑定★-->
                              <section class="timing">
                                <div class="c lh0">
                                  <img class="w100" src="/i.cgi?n=cb/08">
                                </div>
                                <div class="lead_main">チャンスを最大限に<br>引き寄せる時を<br>お教えしましょう</div>
                                <br>
                                <div class="list_base2">
                                  <ul>
                                    <li><a href="/t.cgi?t=m/timing/list&category=1&<!--DEF_P-->"><span class="title">連絡に関する時間</span><br>
                                      <span class="caption">メール･電話が受け入れられやすい時間があります</span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/t.cgi?t=m/timing/choice&menu_id=4005&<!--DEF_P-->">
                                      <img class="lh0 icon" src="/i.cgi?n=icon/6_b">
                                      メールを送ったら返信がきやすい時間帯
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/t.cgi?t=m/timing/choice&menu_id=4006&<!--DEF_P-->">
                                      <img class="lh0 icon" src="/i.cgi?n=icon/6_b">
                                      電話をかけるのに良い時間
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/t.cgi?t=m/timing/list&category=2&<!--DEF_P-->">
                                      <span class="title">感性が高まる時間</span><br>
                                      <span class="caption">あなたの魅力を発揮しやすい時間、ご存知ですか</span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/t.cgi?t=m/timing/choice&menu_id=4011&<!--DEF_P-->">
                                      <img class="lh0 icon" src="/i.cgi?n=icon/6_b">あの人の本音が出やすい時間
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/t.cgi?t=m/timing/choice&menu_id=4018&<!--DEF_P-->">
                                      <img class="lh0 icon" src="/i.cgi?n=icon/6_b">休息をとると疲れが取れやすい時間帯
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/t.cgi?t=m/timing/list&category=3&<!--DEF_P-->">
                                      <span class="title">行動に適した時間</span><br>
                                      <span class="caption">ものごとを始める時間が、成功の鍵です</span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/t.cgi?t=m/timing/choice&menu_id=4009&<!--DEF_P-->">
                                      <img class="lh0 icon" src="/i.cgi?n=icon/6_b">告白するのにいい時間
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/t.cgi?t=m/timing/choice&menu_id=4017&<!--DEF_P-->">
                                      <img class="lh0 icon" src="/i.cgi?n=icon/6_b">何かを始めるのに最適な時間
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <br>
                              <br>
                              <br>
                            </section>
                            <!--★時間鑑定★-->
                            <!--★一年以内の幸運START★-->
                            <section class="time">
                              <img class="w100" src="/i.cgi?n=fcb/01">
                              <div class="lead_main">
                                出会いの日や想いが伝わる日、<br>そして結婚の日…<br>日付まで具体的にお教えしましょう</div>
                                <br>
                                <div class="c">
                                  <img class="w60" src="/i.cgi?n=graph/thumb_b"><br>
                                </div>
                                <div class="btn_base">
                                  <a href="/t.cgi?t=m/marry/list&<!--DEF_P-->">この一年で<br>結婚に繋がる転機は…</a>
                                </div>
                                <br>
                                <br>
                                [%IF marry_menu%]
                                <div class="bar_red"><CTAG mode="user" type="name">に訪れる幸運の日</div>
                                  <br>
                                  <div class="lead_main">
                                    [%marry_menu.menu_name%]
                                  </div>
                                  <div class="title">
                                    <CTAG mode="menu" type="name" id="[% marry_text_menu %]">
                                    </div>
                                    <div class="btn_base">
                                      <a href="/t.cgi?t=[%marry_menu.page%]&menu_id=[%marry_menu.menu_id%]&tenki=[%marry_menu.param2%]&<!--DEF_P-->">詳しくみてみましょう</a>
                                    </div>
                                    <br>
                                    [%ELSIF plan_end_date %]
                                    <div class="bar_red">
                                      占ってから1年経過しました。
                                    </div>
                                    <br>
                                    <div class="btn_base">
                                      <a href="/t.cgi?t=m/marry/top&<!--DEF_P-->">もう一度<br>占ってみましょう</a>
                                    </div>
                                    [%END%]
                                    <br>
                                  </section>
                                </div><!--★背景ブラウン閉じdiv★-->
                                <!--★一年以内の幸運END★-->
                                <!--★結婚鑑定書START★-->
                                <section class="marry">
                                  <div class="c lh0">
                                    <img class="w100" src="/i.cgi?n=cb/18">
                                  </div>
                                  <div class="lead_main">
                                    <CTAG mode="user" type="name">の結婚について順を追って<br>じっくり鑑定していきますね</div>
                                      [% knum = ['第零','第一','第二','第三','第四','最終'] %]
                                      <div class="list_base">
                                        [% FOREACH f=fortune_menu %]
                                        <ul>
                                          [% IF (f.availabledays - passDays > 0) %]
                                          <li class="title[% f.category %]">
                                            <img class="lh0 icon" src="/i.cgi?n=icon/11_b">[% knum.${f.category} %]章<img class="lh0 icon" src="/i.cgi?n=icon/11_b">
                                          </li>
                                          <li>
                                            <img class="icon lh0" src="/i.cgi?n=icon/8/anime">[% f.title %]<br>
                                            <span class="caption">鑑定をご覧になるには<br><CTAG mode="date" format="M月D日" cond="[% (f.availabledays - passDays) %]">までお待ちくださいね</span><br>
                                            </li>
                                            [% ELSE %]
                                            <li class="title[% f.category %]">
                                              <img class="lh0 icon" src="/i.cgi?n=icon/11_b">[% knum.${f.category} %]章<img class="lh0 icon" src="/i.cgi?n=icon/11_b">
                                            </li>
                                            <li>
                                              <a href="/t.cgi?t=[% f.page %]&category=[% f.category %]&<!--DEF_P-->"><img class="icon lh0" src="/i.cgi?n=icon/8/anime">[% f.title %]</a>
                                            </li>
                                            [% END %]
                                            [% END %]
                                          </ul>
                                        </div>
                                        <br>
                                        <!--
                                        <div class="c">
                                        <img class="w100" src="/i.cgi?n=cb/18">
                                      </div>
                                      <div class="lead_main"><CTAG mode="user" type="name">の結婚について順を追ってじっくり鑑定していきますね。</div><br>
                                      <br>
                                      [% knum = ['第零','第一','第二','第三','第四','最終'] %]
                                      <div class="list_base">
                                      <ul>
                                      [% FOREACH f=fortune_menu %]
                                      [% IF (f.availabledays - passDays > 0) %]
                                      <li>
                                      <div class="tip"><CTAG mode="date" format="M月D日" cond="[% (f.availabledays - passDays) %]">鑑定開始</div>
                                      <img src="/i.cgi?n=icon/1">[% knum.${f.category} %]章<br>[% f.title %]</li><br>
                                      [% ELSE %]
                                      <li><a href="/t.cgi?t=[% f.page %]&category=[% f.category %]&<!--DEF_P-->">
                                      <img src="/i.cgi?n=icon/1">[% knum.${f.category} %]章<br>[% f.title %]</a>
                                    </li>
                                    [% END %]
                                  </ul>
                                  [% END %]
                                </div>
                              -->
                            </section>
                            <!--★結婚鑑定書END★-->
                            <!--★生まれ持つ宿命★-->
                            <section class="shukumei">
                              <div class="c lh0">
                                <img class="w100" src="/i.cgi?n=fcb/03">
                              </div>
                              <div class="lead_main"><CTAG mode="user" type="name">が持っている良いところを<br>探っていきましょう</div>
                                <br>
                                <div class="bar_red"><img class="icon lh0" src="/i.cgi?n=icon/1">あなたについて</div>
                                <ul class="mtop_block-list">
                                  <li><a href="/t.cgi?t=m/basic/result&<!--DEF_P-->">あなたが生まれ持つ本質</a></li>
                                  <li><a href="/t.cgi?t=m/basic/result&menu_id=1302&<!--DEF_P-->">運の強さ</a></li>
                                  <li><a href="/t.cgi?t=m/basic/result&menu_id=1303&<!--DEF_P-->">恋愛運</a></li>
                                  <li><a href="/t.cgi?t=m/basic/result&menu_id=1304&<!--DEF_P-->">結婚運</a></li>
                                </ul>
                                <br>
                                <br>
                                <div class="bar_red"><img class="icon lh0" src="/i.cgi?n=icon/1">あの人について</div>
                                <ul class="mtop_block-list">
                                  <li><a href="/t.cgi?t=m/basic/sel&menu_id=1301&<!--DEF_P-->">あの人が生まれ持つ本質</a></li>
                                  <li><a href="/t.cgi?t=m/basic/sel&menu_id=1302&<!--DEF_P-->">運の強さ</a></li>
                                  <li><a href="/t.cgi?t=m/basic/sel&menu_id=1303&<!--DEF_P-->">恋愛運</a></li>
                                  <li><a href="/t.cgi?t=m/basic/sel&menu_id=1304&<!--DEF_P-->">結婚運</a></li>
                                </ul>
                                <br>
                                <br>
                                <div class="lead_main">
                                  あなたとあの人のご縁も<br>
                                  みていきましょうね
                                </div>
                                <div class="bar_red">
                                  ふたりの細密相性<br>
                                </div>
                                <ul class="mtop_block-list">
                                  <li>
                                    <a href="/t.cgi?t=m/aisho/result&<!--DEF_P-->">基本</a>
                                    <li>
                                      <a href="/t.cgi?t=m/aisho/result&menu_id=1502&<!--DEF_P-->">恋愛</a></li>
                                      <li>
                                        <a href="/t.cgi?t=m/aisho/result&menu_id=1503&<!--DEF_P-->">結婚</a></li>
                                        <li>
                                          <a href="/t.cgi?t=m/aisho/result&menu_id=1504&<!--DEF_P-->">友人</a></li>
                                          <li>
                                            <a href="/t.cgi?t=m/aisho/result&menu_id=1505&<!--DEF_P-->">仕事</a></li>
                                            <li>
                                              <a href="/t.cgi?t=m/aisho/result&menu_id=1506&<!--DEF_P-->">セックス</a></li>
                                            </ul>
                                            <img class="w100" src="/i.cgi?n=line/5">
                                            <br>
                                            <!--★生まれ持つ宿命★-->

                                            <!--★自由が丘の母　恋愛指南★-->
                                            <div class="c lh0">
                                              <img class="w100" src="/i.cgi?n=cb/11">
                                            </div>
                                            <div class="corner02">
                                              <div class="main">
                                                <div class="c">
                                                  <div class="caption01">
                                                    <img class="icon lh0" src="/i.cgi?n=test/icon20"><span class="st_9">個人鑑定</span><img class="icon lh0" src="/i.cgi?n=test/icon8"><br>
                                                  </div>


                                                  <div class="fs80">これまでのお悩み相談をご紹介します<br>
                                                    <!--<span class="st_6">【毎月20日公開】</span><br>-->
                                                  </div>
                                                  <div class="navi_02">
                                                    <span class="f"><a href="/t.cgi?t=m/judge/bn&<!--DEF_P-->">鑑定を見る</a></span></div>
                                                    <div class="caption01">
                                                      <img class="icon lh0" src="/i.cgi?n=test/icon20"><span class="st_9">母の恋愛指南</span><img class="icon lh0" src="/i.cgi?n=test/icon8"><br>
                                                    </div>
                                                    <div class="fs80">あなたに贈るメッセージ<br>
                                                      <!--<span class="st_6">【毎月10日公開】</span>--></div>
                                                      <div class="navi_02">
                                                        <span class="f"><a href="/t.cgi?t=m/column/list&<!--DEF_P-->">これまでのコラムを見る</a></span></div>
                                                        <!--電話占い-->
                                                        <img class="w100" src="/i.cgi?n=line/6"><br />
                                                        <div class="caption01">
                                                          <img class="icon lh0" src="/i.cgi?n=test/icon20"><span class="st_9">安芸実先生の電話鑑定</span><img class="icon lh0" src="/i.cgi?n=test/icon20"></div>
                                                          <span class="fs80">電話で個別鑑定<br>
                                                            「自由が丘の母」と直接話せる!!<br>
                                                            あなたの結婚時期を占います。</span><br>
                                                            <div class="btn_base">
                                                              <a href="http://roba3.com/campaign/index/?cpno=1300751381">予約はコチラ</a>
                                                            </div>
                                                            <span class="fs80">
                                                              ※電話占い<br>「ロバミミ」へリンクします
                                                            </span>
                                                            <!--電話占い-->
                                                          </div>
                                                        </div>
                                                        <div class="c lh0"><img class="w100" src="/i.cgi?n=line/5"></div>
                                                      </div>
                                                      <!--★自由が丘の母　恋愛指南★-->
                                                      <!--★特集更新予定-->
                                                      <div class="corner04">
                                                        公開予定の特集
                                                        <div class="main">
                                                          <!-- ### KOSHINJIDOKA START ### -->
                                                          [%IF flag_is_koshin_jidoka_available%]
                                                          <ul class="list_02">
                                                            <li>
                                                              <!-- シーズン特集(未来) -->
                                                              <CTAG mode="tokushu" type="seasonal" kind="schedule" count="1" order="ascending" max-days-until-open="30" caption="true" template="CTAG/tokushu_schedule_sp.tmpl" id="seasonal_tokushu_schedule">
                                                              </li>
                                                              <li>
                                                                <!-- 通常特集(未来) -->
                                                                <CTAG mode="tokushu" type="regular" kind="schedule" count="1" order="ascending" max-days-until-open="30" caption="true" template="CTAG/tokushu_schedule_sp.tmpl" id="regular_tokushu_schedule">
                                                                </li>
                                                                <li>
                                                                  <!-- イレギュラー特集(未来) -->
                                                                  <CTAG mode="tokushu" type="irregular" kind="schedule" count="1" order="ascending" max-days-until-open="30" caption="true" template="CTAG/tokushu_schedule_sp.tmpl" id="irregular_tokushu_schedule">
                                                                  </li>
                                                                </ul>
                                                                [%ELSE%]
                                                                [%END%]
                                                              </div>
                                                            </div>
                                                            <!--★特集更新予定-->
                                                            <!--★更新予定START★-->
                                                            <div class="corner04">
                                                              公開予定のメニュー
                                                              <div class="main">
                                                                <!-- ### KOSHINJIDOKA START ### -->
                                                                [%IF flag_is_koshin_jidoka_available%]
                                                                <!-- 更新予定 -->
                                                                <CTAG mode="menu" type="update" kind="schedule" menu-id-lower-bound1="1" menu-id-upper-bound1="99999" order="ascending" count="2" template="CTAG/menu_schedule_sp.tmpl" max-days-until-open="30" show-corner-name="true" caption="true" id="schedule_maedashi">
                                                                  [%ELSE%]
                                                                  [%IF schedule.size ; FOREACH s=schedule%]
                                                                  <ul class="list_base">
                                                                    <li>
                                                                      <span class="fs90 st_$"><CTAG mode="date" format="M月D日" param="[%s.date%]">公開予定</span><br>
                                                                        <!--[%IF s.corner.title%]<span class="fs90">[%s.corner.title%]</span><br>[%END%]-->
                                                                        <!--[%IF s.cate.title%][%s.cate.title%]<br>[%END%]--><span class="st_13">[%s.menu_name%]</span>
                                                                      </li>
                                                                      <ul>
                                                                        [%END%][%END%]<br>
                                                                        [%END%]
                                                                        <div class="r"><span class="fs90">･･･ご期待くださいね</span></div>
                                                                      </div>
                                                                    </div>
                                                                    <!-- ### KOSHINJIDOKA END ### -->
                                                                    <!--★更新予定END★-->
                                                                    <!--INC_F'mark_sp_bot.txt'-->
                                                                    <!--INC_F'mark_sp_bot2.txt'-->
                                                                    <!--INC_F'emg3.txt'-->
                                                                    [%FOOTER_HELP_COLOR = ''%]
                                                                    [%FOOTER_HELP_EDIT = ''%]
                                                                    <a class="footer-help-cm-link-cv-[%FOOTER_HELP_COLOR || 'default'%]" href="/t.cgi?t=c/help/supervisor&<!--DEF_P-->">監修者紹介</a>
                                                                    <!--INC_F'footer_common_links.txt'-->
                                                                    <div class="c"><!--<img class="w100" src="/i.cgi?n=line/3">--><br>(C)cocoloni,Inc.<br>
                                                                      <!--★マーケGoogleリマーケ訪問タグ_MTOP★-->

                                                                      <!--★マーケGoogleリマーケ訪問タグ_MTOP★-->
                                                                    </div>
                                                                  </div>
                                                                </body>
                                                                </html>
